main > .container {
    padding: 65px 15px 0;
}

html,
body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calder {
  background-color: #ffffff;
}

.calder_circle {
    opacity: 0.9;
}

.calder_wire {
    /*stroke: black;*/
    stroke-width: 2px;
}

.calder_hinge {
    fill: none;
    /*stroke: black;*/
    stroke-width: 2px;
}